<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.how_to_add_app_icons_to_the_ios_and_android_apps">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
